extends  ../../_part/_baseShell

block head
	title Page One
	include ../../_part/_header

block main
	.mui-container-fluid
		p.
			Oh hi

block footer
	include ../../_part/_footer

script#Lst1Tpl(type='text/x-dot-template').
	{{~it.array :value:index}}
		<li><a href={{=value.url}}> {{=value.head_line}}</a></li>
	{{~}}